h1,
h3,
h4,
p,
span {
  margin: 0;
  padding: 0;
}

#app {
  background-image: linear-gradient(
    rgba(240, 239, 233, 255),
    rgba(240, 239, 233, 255)
  );
  margin: 0 auto;
  height: 100%;
  width: 90vw;
  display: grid;
}

#master {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background: rgba(255, 255, 255, 255);
  margin: 40px;
  border-radius: 40px;
}

header {
  display: grid;
  grid-row: 1 / 5;
  grid-column: 2 / 5;
  grid-template-rows: repeat(4, minmax(120px, 1fr));
  grid-template-columns: repeat(3, 1fr);
  background: rgba(234, 230, 215, 255);
  border-top-right-radius: 40px;
  border-bottom-left-radius: 100px;
}

form {
  display: grid;
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  padding: 20px;
}

span > input {
  padding-right: 20px;
}

main {
  display: grid;
  grid-row: 5 / 9;
  grid-column: 2 / 5;
  background: rgba(255, 255, 255, 255);
  border-bottom-right-radius: 40px;
}

sidebar {
  display: grid;
  grid-row: 1 / 9;
  grid-column: 1 / 2;
  background: rgba(255, 255, 255, 255);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

#iconContainer {
  height: 30px;
  width: 30px;
  background: rgba(241, 241, 241, 255);
  border-radius: 10px;
}

#navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
}

#iconContainer {
  margin: 10px;
}

#iconContainer:hover {
  background: rgba(167, 183, 175, 255);
}

#iconContainer:hover > svg {
  fill: white;
}

svg {
  fill: grey;
  margin: 5px;
}

#cardContainer {
  display: grid;
  z-index: 1;
  grid-column: 2 / 5;
  grid-row: 3 / 6;
  gap: 10px;
  overflow-x: auto;
}

#card {
  border-left: solid 10px rgba(167, 183, 175, 255);
  margin-bottom: 5px;
  margin-left: 5px;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
}

#btnCardContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 10px;
}

#btnCardContainer > button {
  height: 35px;
  width: 80px;
  border-radius: 10px;
}

#BooksTitleContainer {
  display: grid;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  z-index: 1;
}

#BooksTitleContainer > h1 {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding-left: 10px;
  color: grey;
  align-items: center;
}

#newBookButtonContainer {
  display: grid;
  grid-row: 2 / 3;
  grid-column: 4 / 5;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  z-index: 1;
  padding-right: 20px;
}

#newBookButtonContainer > button {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  text-align: center;
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  height: 60%;
  overflow: hidden;
}

#newBookContainer {
  display: grid;
  z-index: 2;
  grid-column: 2 / 3;
  grid-row: 2 / 6;
  background: rgba(234, 230, 215, 255);
  box-shadow: 5px 5px 5px grey;
}

#newBookContainer > form > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#newBookContainer > form > span > h3:hover {
  cursor: pointer;
}
